[Unit]
Description=DigiConvent Server
After=network.target

[Service]
Type=simple
User=digiconvent
ExecStart=/home/digiconvent/server
Restart=on-failure

[Install]
WantedBy=multi-user.target
