[Unit]
Description=DigiConvent Server
After=network.target

[Service]
Type=simple
User=digiconvent
ExecStart=/opt/digiconvent/server
Restart=always
StandardOutput=journal
StandardError=inherit
WorkingDirectory=/home/digiconvent/

[Install]
WantedBy=multi-user.target
